
@model string;
<div class="text-white">
    <a style="position:fixed; right:25px;top:20%" asp-controller="@Model" asp-action="Create" class="btn btn-success">
        <i class="rounded-circle bi-plus-circle mr-1"></i>Thêm Mới
    </a>
</div>