<div class="row col-md-5">
    <div >
        <h1>Not found hoặc Có Sai sót trong quá trình nhập bị trùng</h1>
    </div>
    <div>
        <a asp-controller="Actors" asp-action="Index" class="btn btn-success"><i class="bi bi-house-door mr-1"></i>Home Page</a>
    </div>
</div>

