@model web_movie.NewFolder.Cinema_prop


@{
    ViewData["Title"] = "Cinema-Create";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Cinema</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form method="post" asp-action="Create" enctype="multipart/form-data"
                      asp-controller="Cinemas">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" src="https://cdn.sstatic.net/Img/unified/sprites.svg?v=e5e58ae7df45" onerror="this.onerror = null;
                            this.src = 'https://cdn.sstatic.net/Img/unified/sprites.svg?v=e5e58ae7df45'" alt="" style="width:200px;height:200px" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Logo"></label>
                        <input asp-for="Logo" class="form-control" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gallery_FormFiles" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Gallery_FormFiles" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="Gallery_FormFiles" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-controller="Cinemas" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#Logo').ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePicture").val();
        })

        $('#Logo').on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}