@model web_movie.Models.Cinema

@{
    ViewData["Title"] = "Cinema-Edit";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>@Model.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" style="height:300px; width:300px" src="@Model.Logo" />
                    </div>

                    <div>
                        <label asp-for="Logo"></label>
                        <input asp-for="Logo" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName" class="form-control" readonly />
                    </div>
                    <div>
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class=" mt-2">
                        <a class="btn btn-outline-secondary" asp-controller="Cinemas" asp-action="Index">Show All</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <input type="submit" class="btn btn-primary float-right"
                                   asp-controller="Cinemas"
                                   asp-route-id="@Model.Id"
                                   value="Confirm" />
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#Logo').ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#Logo").val();
        })

        $('#Logo').on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}