@model Actor

@{
    ViewData["Title"] = "Actor-Create";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Actor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" src="https://cdn.sstatic.net/Img/unified/sprites.svg?v=e5e58ae7df45" onerror="this.onerror = null;
                            this.src = 'https://cdn.sstatic.net/Img/unified/sprites.svg?v=e5e58ae7df45'" alt="" style="width:200px;height:200px" />
                    </div>

                    <div class="form-group">
                        <label asp-for="ProfilePicture"></label>
                        <input asp-for="ProfilePicture" class="form-control" />
                        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio"></label>
                        <input asp-for="Bio" class="form-control" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-controller="Actors" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#ProfilePicture').ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePicture").val();
        })

        $('#ProfilePicture').on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}