@model web_movie.Models.Actor

@{
    ViewData["Title"] = "Actor-Details";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>@Model.FullName</h1>
        </p>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" style="height:300px; width:300px" src="@Model.ProfilePicture" />
                </div>
            </div>

            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div>
                    <label asp-for="ProfilePicture"></label>
                    <input asp-for="ProfilePicture" class="form-control" readonly />
                </div>
                <div>
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                </div>
                <div>
                    <label asp-for="Bio"></label>
                    <input asp-for="Bio" class="form-control" readonly />
                </div>

                <div class=" mt-2">
                    <a class="btn btn-outline-secondary" asp-controller="Actors" asp-action="Index">Show All</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success float-right" asp-controller="Actors" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square mr-1"></i>Edit</a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>